[submodule "HOptimumAPI"]
	path = HOptimumAPI
	url = https://github.com/Esphios/HOptimumAPI.git
[submodule "Hoptimum-fechadura"]
	path = Hoptimum-fechadura
	url = https://github.com/gnf4rinazzo/Hoptimum-fechadura.git
[submodule "hoptimum-app"]
	path = hoptimum-app
	url = https://github.com/gahammes/hoptimum-app.git
